{% extends "ORC/base.html" %}

{% block content %}
<body>

    {% if form.errors %}
    <br>
    <div class="container" >
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-primary">

                    <div class="panel-body">
                        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}


                    </div>
                </div>
            </div>
        </div>
    </div>


<div class="container" >
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-primary">

                    <div class="panel-body">
                      <h1>Login</h1><br>
                         <form method="post" action="{% url 'login' %}">
        {{ form.as_p }}
        {% csrf_token %}


        <input type="submit" value="Login"/>
        <input type="hidden" name="next" value="{{ next }}"/>

    </form>
<p><a href="{% url 'password_reset' %}">Forgotten your password?</a></p>
</body>


                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

