{% extends 'ORC/base.html' %}
{% load staticfiles %}
{% block content %}

    <div class="about-section">
        <h1>About Central Omaha Retirement Center</h1>
    </div>
   <div class="row">
        <div class="home">
            <img src="{% static "images/RetirementHome.png" %}" alt="" >
        </div>
    </div>
    <div class="paragraph">
        <p>Central Omaha Retirement Center is a retirement home and licensed assisted living center in Omaha that encourages full living by providing services and activities that promote a healthy lifestyle. As one grows older, needs change and it may be more difficult to do many tasks that were once considered routine. We offer assistance to help you meet these changing demands. </p>
    <h1 class="font_0" style="font-size:35px;"><span style="color:black"><span style="font-size:35px;"><span style="font-family:default,fantasy;">A Caring Retirement Living Environment</span></span></span></h1>
    <p>Central Omaha Retirement Center is a caring community committed to providing an array of quality services; we celebrate the innate dignity and enhance the total wellness of the aging person. Our values include Respect, Compassion, Responsiveness, and Hospitality. Sponsored by the School Sisters of Saint Francis, ORC continues the healing ministry of Jesus.</p>
    </div>
{% endblock %}
