{% extends 'ORC/base.html' %}
{% block content %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <style>
        body,html{
            height: 100%;
            margin: 0;
            background: #7F7FD5;
            background: -webkit-linear-gradient(to right, #ffffff, #ffffff);
            background: linear-gradient(to right, #ffffff, #de9404);
        }
        #events_card{
            padding-bottom: 40px;
        }
    </style>



    <h1 class ="probootsrap-card-heading"> Maintenance Work Details</h1><br>
     <ul class="">
        <a href="{% url 'ORC:maintenancework_new' %}" style="padding-right: 15Px" class="row"><span class="btn btn-primary">New maintenance work</span></a>
    </ul>

    <div class="content container">

    <div class="row" id="events_card">
        {% for mworks in workerview %}
            <div class="col-md-16"></div>
            <div class="col-md-5">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ mworks.worker_id }}</h5>

                        <strong style = "color:#ba2121">Maintenace Work Description::  </strong><b class="card-text">{{ mworks.maintenancework_description }}</b><br>
                        <strong style = "color:#ba2121">Property Number::      </strong><b class="card-text">{{ mworks.property_number }}</b><br>
                        <strong style = "color:#ba2121">Equipment Name::      </strong><b class="card-text">{{ mworks.equipment_name }}</b><br>
                        <strong style = "color:#ba2121">Maintenance Cost::      </strong><b class="card-text">{{ mworks.maintenancework_cost }}</b><br>
                        <strong style = "color:#ba2121">Created Date::   </strong><b class="card-text">{{ mworks.maintenancework_opendate }}</b><br>
                        <strong style = "color:#ba2121">Due Date::   </strong><b class="card-text">{{ mworks.maintenancework_duedate }}</b><br>
                        {%  if mworks.is_open %}
                            <strong style = "color:#ba2121">Status::  </strong><b class="badge badge-success">Open</b>
                        {% else %}
                            <strong style = "color:#ba2121">Status::  </strong><span class="badge badge-danger">Closed</span>
                        {% endif %}<br>
                        <br>


                    </div>
                </div>
            </div>

        {% endfor %}
    </div>
  </div>

{%  endblock %}